@model ShopDN.Data.Models.Shop.Product

@{
    ViewData["Title"] = Model.Title;
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Sklep</h2>
                    <p>Znajdź produkty dla siebie</p>
                </div>
                <div class="page_link">
                    <a asp-controller="Home" asp-action="Index">Strona główna</a>
                    <a asp-controller="Shop" asp-action="Index">Sklep</a>
                    <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<div class="product_image_area mb-5 pb-5">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div class="carousel slide"
                         data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                     src="@Model.ImageURL"
                                     alt="First slide" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.Title</h3>
                    <h2>@Model.Price PLN</h2>
                    <ul class="list">
                        <li>
                            <span>Kategoria</span> : @Model.Category.Title
                        </li>
                        <li>
                            <span>Wersja Ebook</span> : @Model.PriceEBook PLN
                        </li>
                        <li>
                            <span>Wersja Audiobook</span> : @Model.PriceAudiobook PLN
                        </li>
                    </ul>

                    @Html.Raw(Model.Content)

                    <div class="product_count">
                        <label for="qty">Liczba:</label>
                        <input type="number"
                               name="qty"
                               id="sst"
                               min="1"
                               max="10"
                               step="1"
                               value="1"
                               title="Liczba:"
                               class="input-text qty" />
                    </div>
                    <div class="card_area">
                        <a id="atc" class="main_btn" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-count="1">Dodaj do koszyka</a>
                        <a class="icon_btn" href="#">
                            <i class="lnr lnr lnr-diamond"></i>
                        </a>
                        <a class="icon_btn" href="#">
                            <i class="lnr lnr lnr-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<script>
    document.getElementById('sst').addEventListener('input', function () {
        document.getElementById('atc').href
            = document.getElementById('atc').href.replace(/.$/, this.value)
    })
</script>

@await Component.InvokeAsync("FeaturedProductsComponent")
