@model ShopDN.Data.Models.Shop.Order

@{
    ViewData["Title"] = "Szczegóły zamówienia";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Szczegóły zamówienia @Model.Id</h1>
    <a asp-action="Index" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Wróć do listy</span>
    </a>
    <br /><br />
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Szczegóły zamówienia</h6>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    Data zamówienia
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
                <dt>
                    Dane zamawiającego
                </dt>
                <dd>
                    @Model.FirstName @Model.LastName, @Model.Address
                </dd>
                <dt>
                    Suma zamówienia
                </dt>
                <dd>
                    @Model.Sum
                </dd>
            </dl>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Produkt</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Ilość</th>
                        <th scope="col">Suma</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var element in Model.OrderElements)
                        {
                            <td>
                                @element.Product.Title
                            </td>
                            <td>@element.Product.Price PLN</td>
                            <td>@element.Count </td>
                            <td>@((@element.Product.Price * element.Count).ToString("0.00")) PLN</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>