@model ShopDN.Data.Models.CMS.Option

@{
    ViewData["Title"] = "Szczegóły opcji";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Szczegóły opcji @Model.Name</h1>
    <a asp-action="Index" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Wróć do listy</span>
    </a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-edit"></i>
        </span>
        <span class="text">Edytuj opcję</span>
    </a>
    <br /><br />
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Szczegóły opcji</h6>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Value)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Value)
                </dd>
            </dl>
        </div>
    </div>
</div>