@model IEnumerable<ShopDN.Data.Models.Shop.Product>

@{
    ViewData["Title"] = "Produkty";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Produkty</h1>
    <a asp-action="Create" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Dodaj nowy</span>
    </a>
    <br /><br/>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista produktów</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author)
                            </th>
                            <th>
                                Cena
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdCategory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsFeatured)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    Wersja papierowa: @Html.DisplayFor(modelItem => item.Price)<br />
                                    Wersja ebook: @Html.DisplayFor(modelItem => item.PriceEBook)<br />
                                    Wersja audiobook: @Html.DisplayFor(modelItem => item.PriceAudiobook)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Title)
                                </td>
                                <td>
                                    @(item.IsFeatured ? "Promowany" : "")
                                </td>
                                <td>
                                    <a class="btn btn-success btn-circle" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <a class="btn btn-info btn-circle" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fas fa-info"></i>
                                    </a>
                                    <a class="btn btn-danger btn-circle" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>